.cesium-viewer-bottom {
  display: none !important;
}

.cesium-credit-logoContainer {
  display: none !important;
}

.cesium-viewer .cesium-viewer-selectionIndicatorContainer {
  display: none;
}

.cesium-viewer .cesium-viewer-infoBoxContainer {
  display: none;
}
